body {
    background: #f2f3ee;
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
}
.local-header {
    width: 1000px;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    img {
        width: 25px;
        float: left;
        margin-left: 30px;
        margin-top: 37px;
    }
    ul {
        display: flex;
        padding-left: 20px;
        .red {
            background-color: #e80032;
        }
        .red-white {
            background-color: #e80032;
            opacity: 0.5;
        }
        li {
            margin-top: 37px;
            margin-right: 5px;
            list-style-type: none;
            border-radius: 50%;
            background-color: #ddd;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }
    .sep-li {
        margin-top: 47px;
        margin-left: -5px;
        width: 5px;
        height: 2px;
        background-color: #ddd;
        z-index: 99;
    }
    .sep-li-red-white {
        margin-top: 47px;
        margin-left: -5px;
        width: 5px;
        height: 2px;
        background-color: #e80032;
        z-index: 99;
        opacity: 0.5;
    }
    p {
        position: relative;
        font-size: 22px;
        left: 0;
        width: 500px;
        margin-left: -65px;
        margin-top: 30px;
    }
}
.main-sect {
    text-align: center;
    h1 {
        color: #e80032;
    }
    .profile-block {
        p {
            color: #333;
            font-size: 20px;
            font-weight: 400;
        }
    }
    .choose-btn {
        margin-top: 10px;
        width: 200px;
        border: none;
        height: 40px;
        font-size: 16px;
        color: white;
        background-color: #e80032;
    }
    .choose-btn:hover {
        background-color: #333;
    }
    .profile-block {
        width: 920px;
        padding: 40px;
        background-color: #fff;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        margin: auto;
    }
}
.error {
    h1 {
        color: #333;
    }
    width: 920px;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    .error-module {
        .error-btn {
            margin-top: 10px;
            width: 200px;
            border: none;
            height: 40px;
            font-size: 16px;
            color: white;
            background-color: #e80032;
        }
        .error-btn:hover {
            background-color: #333;
        }
    }
}
