body {
    background-color: #f2f3ee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-inputs label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-inputs input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.btn {
    background-color: #584d47;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.btn:hover {
    background-color: #c0855d;
}

.form-bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-bottom p {
    font-size: 14px;
}

.form-bottom a {
    font-weight: bold;
    margin-left: 5px;
    color: #c0855d;
    text-decoration: none;
}

.form-bottom a:hover {
    text-decoration: underline;
}
