body {
  background: #f2f3ee;
  font-family: Poppins-Regular, sans-serif;
}

.profile-block {
    margin-top: 80px;
    padding: 20px;
    font-family: "IBM_Plex_Sans","Arial",sans-serif;
  }
  
  .profile-block h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile-block p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .profile-block form {
    margin-top: 20px;
  }
  
  .profile-block button {
    background-color: #584D47;
    color: #F2F3EE;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .profile-block button:hover {
    background-color: #C0855D;
  }
  