{% extends 'tickets/base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tickets/css/seats.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="main-sect">
        <div class="local-header">
            <a onclick="javascript:history.back(); return false;"><img src="{% static 'tickets/img/left-arrow.png' %}"
                    alt=""></a>
            <ul>
                <li class="red-white">1</li>
                <div class="sep-li-red-white"></div>
                <li class="red">2</li>
                <div class="sep-li"></div>
                <li>3</li>
                <div class="sep-li"></div>
                <li>4</li>
            </ul>
            <p>Выберите место в вагоне</p>
        </div>
        <form id="seat-form" method="post"
            action="{% url 'ps_inf' %}?route={{ request.GET.route }}&departure_station={{ request.GET.departure_station }}&arrival_station={{ request.GET.arrival_station }}&seat_type={{ request.GET.seat_type }}">
            {% csrf_token %}
            <div class="main-chooses">
                <img style="margin-bottom: 10px;" src={{ image }} alt="">
                {% for seat in seats %}
                <label for="{{ seat }}">
                    <p>Место {{seat}}</p>
                    <input class="checkoption" type="checkbox" value="{{ seat }}">
                </label>
                {% endfor %}
                <button class="choose-btn" type="submit">Выбрать</button>
            </div>
        </form>
    </div>
    <script>
        const form = document.getElementById('seat-form');
        const selectElements = document.getElementsByClassName("checkoption");
        let actionUrl = form.getAttribute('action');
        const arr = [];
        for (let i = 0; i < selectElements.length; i++) {
            selectElements[i].addEventListener("change", () => {
                if (arr.length === 1){
                    field = arr.pop(0)
                    field.classList.remove('bordered');
                }
                var formField = selectElements[i].closest('label');
                let selectedSeats = Array.from(selectElements).filter(option => option.checked).map(option => option.value);
                let queryParam = `&seat=${selectedSeats.join(',')}`;
                form.setAttribute('action', actionUrl + queryParam);
                formField.classList.add('bordered');
                arr.push(formField);
            });
        }
    
        form.addEventListener("submit", (event) => {
            let selectedSeats = Array.from(selectElements).filter(option => option.checked).map(option => option.value);
            if (selectedSeats.length === 0) {
                event.preventDefault();
                alert("Выберите место, пожалуйста.");
            }
        });
    </script>
    
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.checkoption').click(function () {
                $('.checkoption').not(this).prop('checked', false);
            });

        });
    </script>
</body>

</html>

{% endblock %}