{% extends 'tickets/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <title>Успех</title>
    <link rel="stylesheet" href="{% static 'tickets/css/successfull.css' %}">
</head>
<body>
    <div class="content">
        <h1>Билет успешно куплен!</h1>
        <div class="img_container">
            <a href="{% url 'home' %}"><img class="cross" src="{% static 'tickets/img/galochka.png' %}" alt="cross"></a> 
        </div>
    </div>
</body>
</html>

{% endblock %}