{% extends 'tickets/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <title>Ошибочка</title>
    <link rel="stylesheet" href="{% static 'tickets/css/wrong.css' %}">
</head>
<body>
    <div class="content">
        <h1>Кто-то купил билет вперёд вас. Выберите пожалуйста новое место в вагоне!</h1>
        <div class="img_container">
            <a href="{% url 'home' %}"><img class="cross" src="{% static 'tickets/img/cross.svg' %}" alt="cross"></a> 
        </div>
    </div>    
</body>
</html>
{% endblock %}